<div class="container ">
  <ng-template #errors>
    <div class="text-danger">{{errorMessage}}</div>
  </ng-template>
  <nav *ngIf="authService.hasRole('ADMIN')" class="mt-2 mb-2">
    <button class="btn btn-outline-info" (click)="handleNewProduct()">
      <i class="bi bi-check2-square me-2"></i> All Products
    </button>
    <button class="btn btn-outline-info me-2 ms-2" (click)="handleNewProduct()">
      <i class="bi bi-bell me-2"></i> Promoted Products
    </button>
    <button class="btn btn-outline-info" (click)="handleNewProduct()">
      <i class="bi bi-clipboard-plus me-2"></i> New Product
    </button>
  </nav>
  <div class="card">
    <div class="card-header fw-bold text-uppercase">
      Liste des produits
    </div>
    <div class="card-body">
      <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
        <div class="input-group">
          <label for="" class="input-group-text">Keyword :</label>
          <input type="text" class="form-control" formControlName="keyword">
          <button class="btn btn-info">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Promotion</th>
            <th *ngIf="authService.hasRole('ADMIN')">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td class="promo">
              <i [style.color]="p.promotion ? '#3BD811' : '#D82011'" class="bi"
                [ngClass]="p.promotion ? 'bi-check2-circle' : 'bi-x-circle-fill'"></i>
              <button *ngIf="authService.hasRole('ADMIN')" (click)="handleSetPromotion(p)" type="button"
                [ngClass]="p.promotion === true ? 'btn-success' : 'btn-danger'" class="btn">
                <span *ngIf="p.promotion === true"> Promo Off</span>
                <span *ngIf="p.promotion === false"> Promo On</span>
              </button>
            </td>
            <td *ngIf="authService.hasRole('ADMIN')">
              <i class="bi bi-pencil-square text-warning me-3 cursorPointer" (click)="handleEditProduct(p)"></i>
              <i class="bi bi-trash text-danger cursorPointer" (click)="handleDeleteProduct(p)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let item of [].constructor(this.totalPages); let i=index">
          <a (click)="goToPage(i)" [ngClass]="i == currentPage ? 'btn-info' : 'btn-outline-info'"
            class="btn ms-1 mt-1">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>